/* Oppgave 1 */
@keyframes beveg-hale {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.hale {
	animation-name: beveg-hale;
	animation-duration: 1s; /* Setter varigheten på animasjonsekvensen */
	transform-origin: bottom left; /* Setter at halen skal rotere rundt nedre midtdel av halen */
	animation-iteration-count: infinite; /* Setter at animasjonsekvensen skal gjennomføres uendelig antall ganger */
}

/* Oppgave 2 */
@keyframes roter-ører {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.ører {
	/* Fyll inn her */
}

/* Oppgave 3 */
@keyframes beveg-tunge {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0px);
	}
}

.tunge {
	/* Fyll inn her */
}

/* Oppgave 4 */
@keyframes beveg-pelle {
	0% {
		/* Fyll inn her */
	}

	50% {
		/* Fyll inn her */
	}

	100% {
		/* Fyll inn her */
	}
}

.pelle {
	animation-name: beveg-pelle;
	animation-duration: 100s;
	animation-iteration-count: infinite;
}

/* Oppgave 5 */
@keyframes beveg-bein {
	/* Fyll inn her */
}

.bein {
	transform-origin: top center;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.høyre-bakben {
	animation-name: beveg-bein;
}

.venstre-forben {
	animation-name: beveg-bein;
}

.høyre-forben {
	animation-name: beveg-bein;
}

.venstre-bakben {
	animation-name: beveg-bein;
}
